<script type="text/javascript">
    $(document).ready(function(){
        $('#login_modal').modal('show');
    });
</script>
<div class="modal fade" id="login_modal">
<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Log In</h3>
  </div>
  <div class="modal-body">
    <p>Login using your NCSU gmail account. Then select a location and room to start updating the roaming checklist.</p>
  </div>
  <div class="modal-footer">
    <a href='<%= request.url %>auth/google_oauth2' class="btn btn-primary">Sign in with Google</a>
  </div>
</div>