body { padding-top: 60px; }

a.logoutbutton {
  font-size: 80%;
  text-transform: uppercase;
  margin-left: 0.25rem;
  text-decoration: underline;
}

.navbar {

  z-index: 2000;

  .brand {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: default;
  }
}

.image-wrapper {
  margin-bottom: 1rem;
}