<% if !@location.rooms.blank? %>
<div class="container">
    <div class="row">
      <div class="span9"><%- model_class = Task -%>

				<div class="page-header">
  
  <h1>Tasks</h1>
	</div>

		<%= render partial: 'tasks_table' %>

	</div>


	<div class="span3">
		<h2>Areas</h2>
			<ul>
				<li class="roomlist"><%= link_to "Latest", locations_path %></li>

				<% @location.rooms.each do |room| %>
					<li class="roomlist"><%= link_to room.name, room_path(room) %></li>
				<% end %>
			</ul>	
	</div>
<% end %>			
